body{
    background: #0D0D0D;
    color: lime;
    font-family: 'VT323', monospace;
}
span{
    animation: keystroke 2s infinite;
}
@keyframes keystroke{
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}