html{
    scroll-behavior: smooth;
}
   @media (max-width: 767px){
    .smalltext p{
        text-align: center;
    }
    .smalltype {
        font-size: 25px;
        list-style: none;
    }
}
@media (min-width:768px) and (max-width: 1023px) {
    .computer p{
        font-size: 30px;
    }
    .computer li{
        font-size: 30px;
    }
}
body{
    font-family: 'VT323', monospace;
    background: #0D0D0D;
}
header p{
    margin-top: 20px;
    font-size: 30px;
}
/* Heading */
.quote{
    text-align: right;
}
.hero img{
    position: absolute;
}
a{
    color: #00FF00;
}
a:hover{
    color: #00FF00;
    text-decoration: none;
}
header{
    color: #00FF00;
    background: #0D0D0D;
    font-size: 25px;
    position: sticky;
    border-bottom: thin solid #ffffff;
}
/* Meat and potatoes */
.computer{
    position: relative;
    background: silver;
    height: 95%;
    width: 95%;
    margin: 50px auto 0;
    border-radius: 25px;
    padding: 50px;
}
.navbar{
    text-align: center;
    color: #00FF00;
    font-size: 45px;
    padding: 30px;
}
.navbar ul{
    list-style: none;
    padding: 0;
}
.navbar li{
    display: inline;
}
/* Meat and potatoes END */
.about{
    color: #00FF00;
    border-top: #ffffff solid thin;
}
.about h2{
    text-align: center;
    color: #00FF00;
}
.about img{
    border: #00FF00 thick solid;
}
.about p{
    font-size: 25px;
}
/* Main (minicomputers) */
.main {
    background: #0D0D0D;
    color: #00FF00;
    margin-top: 150px;
    border-top: #ffffff thin solid;
}
.main h2{
    text-align: center;
}
.main h3{
    text-align: center;
}
.main span{
    margin-right: 10px;
    margin-top: 15px;
}
.minicomp{
    background: #0D0D0D;
    border: #f5f5dc 5px solid;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 30px;
    margin: auto;
}
.smallcomp{
    background: #0D0D0D;
    border: #f5f5dc 5px solid;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;
}
.smallcomp h3{
    margin-top: 25px;
}
#project_type{
    border-bottom: #ffffff thin solid;
    margin-bottom: 15px;
}
/* Secondary */
.secondary{
    color: #00FF00;
    text-align: center;
    border-top: #ffffff solid thin;
}
/* Footer and Contact Information */
footer{
    color: #00FF00; 
    text-align: center;
    border-top: #ffffff solid thin;
    border-bottom: #ffffff solid thin;
}
footer p{
    font-size: 24px;
    margin-bottom: 10px;
}
.button{
    background: #00FF00;
    color: #0D0D0D;
    height: 35px;
    width: 120px;
    padding: 10px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 10px;
    border: #f5f5dc 2px solid;
    border-radius: 5px;
}
.button:hover{
    color: #0D0D0D;
}